@model WidgetCreatorMvc.Models.Widget.WidgetViewViewModel
@{
    ViewBag.Title = "Widget: " + Model.Title;
}
<h2>
    Widget: @Model.Title</h2>
<ul>
    <li>
        @Html.LabelFor(x => x.Title)
        @Html.DisplayFor(x => x.Title)
    </li>
    <li>
        @Html.LabelFor(x => x.Price)
        @Html.DisplayFor(x => x.Price)
    </li>
</ul>
<ul>
    <li>@Html.ActionLink("Change Title", "UpdateTitle", new { @Model.Id })</li>
@*    <li>@Html.ActionLink("Change Amount", "NewAmount", new { @Model.Id })</li>
*@</ul>
