@model WidgetServices.Mvc.Widget.ViewWidgetViewModel
@{
    ViewBag.Title = "Widget: " + Model.Title;
}
<h2>Widget: @Model.Title</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.VersionId)
    <ul>
        <li>
            @Html.LabelFor(x => x.Title)
            @Html.TextBoxFor(x => x.Title)
            @Html.ValidationMessageFor(x => x.Title)
        </li>
        <li>
            @Html.LabelFor(x => x.Approvers)
            @Html.ListBoxFor(x => x.Approvers, Model.ApproverSelectList)
        </li>
        <li>
            @Html.LabelFor(x => x.Viewers)
            @Html.ListBoxFor(x => x.Viewers, Model.ViewersSelectList)
        </li>
        <li>
            <input type="submit" value="Save" />
        </li>
    </ul>
}
@Html.ActionLink("Create New", "Create")
@Html.ActionLink("Widget List", "List")

@using(Html.BeginForm("SetReminder", "Widget"))
{
    <input type="submit" value="Set Reminder"/>
}